.form-control {
  background-color: $gray-50;
  padding: 1.3rem 1rem;
  border: 1px solid $gray-100;

  &:focus {
    border-color: $gray-300;
  }
}

.input-group-text {
  border: 1px solid $gray-100;
}

.input-group:not(.bootstrap-touchspin):focus-within .form-control,
.input-group:not(.bootstrap-touchspin):focus-within .input-group-text {
  border-color: $gray-300;
}
